.reels-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video-card {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ESTO ES CRUCIAL PARA QUE NO SE VEA NEGRO */
  display: block;
}
